# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
# Assignment 1
tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
# Assignment 2

print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl) // 2]}")
print(f"Last element: {tpl[-1]}")

First element: 1
Middle element: 6
Last element: 10

In [16]:
# Assignment 3

print(f"First 3 element: {tpl[:3]}")
print(f"Last 3 element: {tpl[7:]}")
print(f"First element: {tpl[2:6]}")

First 3 element: (1, 2, 3)
Last 3 element: (8, 9, 10)
First element: (3, 4, 5, 6)

In [19]:
# Assignment 4

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(nested_tpl)
print(nested_tpl[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [5]:
# Assignment 5
tpl1 = (1,2,3)
tpl2 = (4,5,6)

result = tpl1 + tpl2
print(result)

(1, 2, 3, 4, 5, 6)

In [19]:
# Assignments 6

tpl = (1,2,2,3,4,5,5,5,5,6,7,7,7,7,9,6)
print(f"First occurance of 7 is: {tpl.count(7)}")
print(f"index of first occurance of 9 is: {tpl.index(9)}")
print(tpl)

First occurance of 7 is: 4
index of first occurance of 9 is: 14
(1, 2, 2, 3, 4, 5, 5, 5, 5, 6, 7, 7, 7, 7, 9, 6)

In [22]:
# Assignment 7
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [24]:
# Assignment 8
lst = [1, 2, 3, 4, 5]
convert = tuple(lst)
print(convert)

(1, 2, 3, 4, 5)

In [30]:
# Assignment 9

tpl_of_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)

    )
print(tpl_of_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [43]:
# Assignment 10

tpl = (1, 2, 3, 4, 5)
convert_to_list = list(tpl)
print(convert_to_list)
convert_to_list.append(6)
convert_to_tpl = tuple(convert_to_list)
print(convert_to_tpl)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [45]:
# Assignment 11

string = "Manogna"
convert_to_tpl = tuple(string)
print(convert_to_tpl)
joined_string = ''.join(convert_to_tpl)
print(joined_string)

('M', 'a', 'n', 'o', 'g', 'n', 'a')
Manogna

In [46]:
# Assigment 12

tpl_dict = {
    (1, 2): 3,
    (4, 5): 4,
    (6, 7): 8
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 4, (6, 7): 8}

In [54]:
# Assignment 13

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(nested_tpl)

for ele in nested_tpl:
    for i in ele:
        print(i)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1
2
3
4
5
6
7
8
9

In [55]:
# Assignment 14

tpl = (1, 2, 2, 4, 6, 6, 7, 7, 7, 7, 7, 8, 9)
convert_to_set = set(tpl)
print(convert_to_set)

{1, 2, 4, 6, 7, 8, 9}

In [63]:
# Assignment 15

def min_in_tpl(tpl):
    return min(tpl)

def max_in_tpl(tpl):
    return max(tpl)

def sum_of_tpl(tpl):
    return sum(tpl)

tpl = (1,2,3,4,5)
print(min_in_tpl(tpl))
print(max_in_tpl(tpl))
print(sum_of_tpl(tpl))

1
5
15