In [1]:
def Tax_amount(salary):

SyntaxError: incomplete input (3912289870.py, line 1)

In [9]:
def add_calcukl(num1,num2):
    return num1+num2

In [11]:
add_calcukl(777,3)

780

In [13]:
def add_(num1,num2):
    return num1+num2

In [15]:
add_(777,3)

780

In [17]:
def tax(n1,n2):
    return n1-n2

In [19]:
tax(50,4)

46

In [21]:
def Hello(a,b=10):
    return a+b

In [23]:
Hello(10,2)

12

In [25]:
def Hello(a,b=10):
    return a+b

In [27]:
Hello(a)

NameError: name 'a' is not defined

In [29]:
def Hello(a,b=10):
    return a+b

In [31]:
Hello(10)

20

In [41]:
def Hello(a,b):
    return a+b
    print(a)
    print(b)

In [47]:
def Hello(a,b):
    return a+b

In [49]:
Hello("manu",2)

TypeError: can only concatenate str (not "int") to str

In [87]:
def tax_amount(salary):
    if(salary<10000):
        print("No tax amount")
    elif(salary>=10000) and (salary<20000):
        print(f"your salary is {salary} and your tax amountis{salary*0.1}")
    else:
        print("In Progress")

In [89]:
tax_amount(20000)

In Progress

In [91]:
tax_amount(1000000)

In Progress

In [93]:
tax_amount(100000)

In Progress

In [95]:
tax_amount(10000)

your salary is 10000 and your tax amountis1000.0

In [97]:
tax_amount(9999)

No tax amount

In [99]:
tax_amount(1999)

No tax amount

In [101]:
tax_amount(30000)

In Progress

In [109]:
def tax_amount(salary):
    if(salary<10000):
        print("No tax amount")
    elif(salary>=10000) and (salary<20000):
        print(f"your salary is {salary} and your tax amountis{salary*0.1}")
    else:
        print("In Progress")

In [111]:
tax_amount(20000)

In Progress

In [113]:
tax_amount(10000)

your salary is 10000 and your tax amountis1000.0

In [115]:
tax_amount(25000)

In Progress

In [117]:
tax_amount(19999)

your salary is 19999 and your tax amountis1999.9