In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings

In [7]:
df = pd.read_excel(r"C:\Users\Lenovo\Downloads\hr-data-analysis.xlsx")

In [8]:
df

,Name,Emp ID,Gender,Education Qualification,Date of Join,Job Title,Salary,Age,Leave Balance
0,Barr Faughny,AC0001,Male,Bachelor's Degree,2020-06-12,Chocolatier,51300,26.0,13
1,Dennison Crosswaite,AC0002,Female,Diploma,2021-02-18,Production Operator,38300,32.7,12
2,Gunar Cockshoot,AC0003,Male,High School Diploma,2022-09-05,Packaging Associate,31400,34.3,16
3,Wilone O'Kielt,AC0004,Female,Bachelor's Degree,2019-11-20,Marketing Specialist,60700,29.6,21
4,Gigi Bohling,AC0005,Male,Master's Degree,2018-04-08,Research Scientist,77300,30.3,23
...,...,...,...,...,...,...,...,...,...
156,Michael Walkson,AC0157,Male,Master's Degree,2017-11-26,Product Manager,82300,34.4,18
157,Anaya Agarwal,AC0158,Female,High School Diploma,2023-04-09,Chocolatier,52900,30.5,8
158,Krish Rawat,AC0159,Male,Diploma,2020-06-02,Marketing Manager,71100,31.6,13
159,Siya Sharma,AC0160,Female,Bachelor's Degree,2019-08-26,Research Scientist,76900,33.2,17
160,Kabir Trivedi,AC0161,Male,High School Diploma,2022-03-19,Sales Representative,46400,37.1,11

In [10]:
df.head(10)

,Name,Emp ID,Gender,Education Qualification,Date of Join,Job Title,Salary,Age,Leave Balance
0,Barr Faughny,AC0001,Male,Bachelor's Degree,2020-06-12,Chocolatier,51300,26.0,13
1,Dennison Crosswaite,AC0002,Female,Diploma,2021-02-18,Production Operator,38300,32.7,12
2,Gunar Cockshoot,AC0003,Male,High School Diploma,2022-09-05,Packaging Associate,31400,34.3,16
3,Wilone O'Kielt,AC0004,Female,Bachelor's Degree,2019-11-20,Marketing Specialist,60700,29.6,21
4,Gigi Bohling,AC0005,Male,Master's Degree,2018-04-08,Research Scientist,77300,30.3,23
5,Curtice Advani,AC0006,Female,Bachelor's Degree,2023-03-14,Sales Representative,49800,37.7,23
6,Kaine Padly,AC0007,Male,High School Diploma,2022-01-02,Production Operator,33000,31.8,24
7,Ches Bonnell,AC0008,Female,Diploma,2020-07-19,Quality Control,41900,35.9,17
8,Andria Kimpton,AC0009,Male,Bachelor's Degree,2021-11-10,Research Analyst,58100,31.0,16
9,Brien Boise,AC0010,Female,Master's Degree,2019-06-25,Product Manager,82900,31.1,17

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     161 non-null    object
 1   Emp ID                   161 non-null    object
 2   Gender                   161 non-null    object
 3   Education Qualification  161 non-null    object
 4   Date of Join             161 non-null    datetime64[ns]
 5   Job Title                161 non-null    object
 6   Salary                   161 non-null    int64
 7   Age                      161 non-null    float64
 8   Leave Balance            161 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 11.4+ KB

in pandas execl file converted into a dataframes

In [12]:
df.isnull().sum()

Name                       0
Emp ID                     0
Gender                     0
Education Qualification    0
Date of Join               0
Job Title                  0
Salary                     0
Age                        0
Leave Balance              0
dtype: int64

its a proper stut column

# Department Wise calculate the avarage salary

In [54]:
df.groupby("Job Title")["Salary"].mean().sort_values(ascending=False)

Job Title
Product Manager         82825.000000
Research Scientist      77566.666667
Marketing Manager       73530.000000
Marketing Specialist    62170.000000
Research Analyst        57812.500000
Chocolatier             52176.470588
Sales Representative    47511.111111
Quality Control         43135.294118
Production Operator     37500.000000
Packaging Associate     33409.090909
Name: Salary, dtype: float64

# Count of employees by gender

In [45]:
df["Gender"].value_counts()

Gender
Female    88
Male      73
Name: count, dtype: int64

# Based on Education How Much Avarage They Get Paid

In [53]:
jobdf.groupby("Education Qualification")["Salary"].mean().sort_values(ascending=False)

Education Qualification
Master's Degree        67037.931034
Bachelor's Degree      53881.632653
Diploma                51046.341463
High School Diploma    48904.761905
Name: Salary, dtype: float64

In [48]:
df["Leave Balance"]

0      13
1      12
2      16
3      21
4      23
       ..
156    18
157     8
158    13
159    17
160    11
Name: Leave Balance, Length: 161, dtype: int64

In [49]:
df["Leave Balance"].value_counts()

Leave Balance
16    23
15    14
17    14
18    14
20    12
14    12
23     8
13     7
19     7
22     6
12     6
21     6
10     5
9      5
24     4
8      4
11     3
6      3
25     2
27     1
30     1
4      1
5      1
2      1
37     1
Name: count, dtype: int64

In [64]:
plt.figure(figsize=(16,12))

In [68]:
avg_salary_by_job=df.groupby("Job Title")["Salary"].mean().sort_values(ascending=False)
avg_age_by_job=df.groupby("Education Qualification")["Salary"].mean().sort_values(ascending=False)

In [71]:
avg_salary_by_job = df.groupby("Job Title")["Salary"].mean().sort_values(ascending=False)
avg_age_by_job = df.groupby("Job Title")["Age"].mean().sort_values(ascending=False)
plt.subplot(2, 2, 1)
sns.barplot(x=avg_salary_by_job.values, y=avg_age_by_job.index, palette="viridis")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9584\944327486.py:4: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=avg_salary_by_job.values, y=avg_age_by_job.index, palette="viridis")